*{margin:0;padding:0;outline:0;}
body{font-family:verdana;font-size:12px;line-height:16px;}

.clear{overflow:hidden;}
.template{
	width:1000px;
	margin:0 auto;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
a{
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
p{
	margin-bottom:15px;
}

.headersection {
    height: 60px;
    background: #EAF2F4;
    border-top: 4px solid #4D4E49;
    border-bottom: 2px solid #b6c6c9;
}
.headleft {
    float: left;
    width: 450px;
    font-family: georgia;
    color: #4D4E49;
    margin-right: 50px;
}
.headleft h2 {
    float: left;
    font-size: 36px;
    line-height: 40px;
    padding-right: 45px;
    border-right: 1px solid;
    margin-top: 8px;
	padding-left:20px;
}
.headleft p {
    float: left;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 12px;
}

.headright {
    float: right;
    width: 290px;
    margin-top: 20px;
    margin-right: 20px;
}
.headright input[type="text"] {
    width: 245px;
    background: #D5E5E8;
    border: 1px solid #A1BCC2;
    padding: 4px;
    margin-right: 2px;
}
.headright input[type="submit"] {
    padding: 3px;
    background: #D5E5E8;
    border: 1px solid #A1BCC2;
	cursor:pointer;
}

.menusection{
	background:#EAF2F4;
		height:45px;
}
.menuleft {
    float: left;
    width: 805px;
    margin-right: 30px;
}
.menuleft ul{margin:0;padding:0;list-style:none;}
.menuleft ul li {
    display: block;
    float: left;
    padding: 10px 25px;
    border-right: 1px solid #b6c6c9;
    margin: 4px 0px;
    font-size: 14px;
}
.menuleft ul li:last-child{
	 border-right: 0px solid #b6c6c9;
}
.menuleft ul li a {
    display: block;
    color: #666666;
}
.menuleft ul li a:hover{}

.menuright {
    float: right;
    width: 165px;
    margin-top: 7px;
    color: #5d655a;
}
.menuright p {
    margin: 0px;
}

.bannersection{background:#049BAC;height:335px;border-top:2px solid #116FA6;border-bottom:2px solid #116FA6;}
.bannerleft {
    width: 465px;
    margin-right: 35px;
    float: left;
    margin-left: 20px;
}
.bannerleft h2 {
    margin-top: 40px;
    color: #fff;
    border-bottom: 1px solid #82cdd6;
    margin-bottom: 20px;
    padding-bottom: 13px;
    font-size: 36px;
    line-height: 40px;
    font-family: georgia;
}
.bannerleft p {
    color: #fff;
    line-height: 20px;
}

.bannerlink{}
.banlink {
    float: left;
    width: 170px;
    background: #DEDEDE;
    margin-right: 50px;
    padding: 6px 18px;
    margin-top: 15px;
}
.banlink a {
    color: #666;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
	font-family: georgia;
}
.banlink a:hover{}

.bannerright {
    width: 460px;
    float: right;
    margin-right: 20px;
}
.bannerright img {
    width: 435px;
    height: 225px;
    margin-top: 43px;
    margin-left: 10px;
    background: #EAF2F4;
    padding: 7px;
    border: 1px solid #666;
}

.servicesection{background:#EAF2F4;}
.allservices {
    margin: 30px 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.service {
    border: 1px solid #CDD8D8;
    width: 238px;
    float: left;
}
.service h2 {
    font-family: georgia;
    font-size: 22px;
    color: #049BAC;
    padding: 20px;
    background: #F1F7F7;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #CDD8D8;
}
.sameservices {
    padding: 14px 10px 9px;
}
.sameservices h3 {
    font-family: georgia;
    font-size: 22px;
    border-bottom: 1px solid #666666;
    color: #666666;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sameservices p{
	color: #666666;
}
.sameservices a {
    float: right;
    color: #555;
}
.sameservices a:hover{}

.contentsection{background:#EAF2F4;}
.contentleft {
    width: 404px;
    float: left;
    margin-right: 46px;
    margin-left: 20px;
}
.contentleft h2 {
    font-family: georgia;
    font-size: 22px;
    color: #666666;
    padding-bottom: 8px;
}

.contentleftdesc {
    border-top: 1px solid #cdd8d8;
    padding-top: 20px;
    padding-bottom: 20px;
}
.leftimage {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.leftimage img {
    width: 85px;
    height: 80px;
    background: #fff;
    border: 1px solid #999;
    padding: 4px;
}

.righttext {
    width: 290px;
    color: #666666;
}
.righttext h4 {
    font-weight: bold;
}
.righttext p {
    line-height: 21px;
    margin-bottom: 3px;
}
.righttext a {
    float: right;
    color: #444;
}

.righttext a:hover{}

.contentright {
    width: 510px;
    float: right;
    margin-right: 20px;
}
.contentright h2 {
    font-family: georgia;
    font-size: 22px;
    color: #666666;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdd8d8;
    margin-bottom: 16px;
}
.contentright img {
    width: 120px;
    height: 120px;
    background: #fff;
    border: 1px solid #999;
    padding: 5px;
    float: left;
    margin-right: 20px;
}
.contentright h4 {
    color: #666666;
    font-weight: bold;
    padding-bottom: 4px;
}
.contentright p {
    color: #666666;
    margin-bottom: 9px;
}

.footertop {
    background: #2C2B2C;
    height: 220px;
    border-bottom: 2px solid #3D3D3D;
}
.samefooter {
    width: 293px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
}
.samefooter h2 {
    color: #9B9B9A;
    margin-top: 38px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-family: georgia;
    font-size: 22px;
}
.samefooter p {
    color: #9B9B9A;
    margin-bottom: 10px;
}
.samefooter input[type="text"] {
    width: 234px;
    padding: 4px;
}
.samefooter input[type="submit"] {
    background: #fff;
    padding: 4px;
    border-radius: 3px;
}
.samefooter  ul{}
.samefooter ul li {
    list-style: none;
    padding-bottom: 4px;
}
.samefooter ul li a {
    color: #049BAC;
    font-weight: normal;
}
.samefooter a {
    color: #D54;
    font-weight: normal;
    margin-top: 15px;
    display: block;
}
.footerbottom {
    background: #212021;
    color: #fff;
    padding-top: 15px;
}
.footleft{
	float:left;
	margin-left:20px;
}
.footleft p{}
.footright{
	float:right;
	margin-right:20px;
}
.footright p{}
.{}
.{}
.{}
.{}
.{}